/* Style the button that is used to open and close the collapsible content */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the collapsible content. Note: hidden by default */
#answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}